<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.FP">

        <activity android:name=".login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.FP.NoActionBar"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <activity
            android:name=".atasan.DetailAtasan"
            android:label="Detail Atasan"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>
        <activity
            android:name=".celana.DetailCelana"
            android:label="Detail Celana"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>
        <activity
            android:name=".hoodie.DetailHoodie"
            android:label="Detail Hodie"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>
        <activity
            android:name=".rok.DetailRok"
            android:label="Detail Rok"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>

        <!--WEBSITE-->
        <activity
            android:name=".atasan.WebAtasan"
            android:label="Website Atasan"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".celana.WebCelana"
            android:label="Website Celana"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".hoodie.WebHoodie"
            android:label="Website Hoodie"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".rok.WebRok"
            android:label="Website Rok"
            android:parentActivityName=".MainActivity"/>
    </application>

</manifest>